
header ul {
    list-style:none;
}

.header__flex {
    display: flex;
    height:60px;
    align-items: center;
}
header a{
    display : inline-block;
    padding: 10px 20px;
    margin-left: auto;
}
.header__flex nav {
    margin-left: auto;
}
.header__flex ul {
    display: flex;
}
.header__flex ul li {
    margin-left: 1px;
}
.header__flex ul a{
    text-decoration: none;
    color:var(--black-color);
}
header athis{
    color:var(--bleu-color);
}
.homebar{
    background-color: var(--gray-color);
}