body {
    margin: 0;
    display:flex;
    justify-content: center;

}



section {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-container{
    border: solid 3px #111111;
    background-color: #0274d6;
    margin:20px;
    padding: 20px;
    width: 2000px;
}
.inputBox{
    border: #111111 solid 1px;
    border-radius: 5px;
    display: block;
    padding: 5px 35px;
    margin: 15px  auto;
}

input{
    outline:none;
    border: none;
    padding: 10px;
    font-size: 1.2em;
}
img{
    width: 25px;
    margin: 5px 0 0 5px;
}
#creationAccount {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid #b1b1b1;
    border-radius: 10px;
    padding: 15px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 30px;
}
.rememberMe{
    display: inline-block;
    margin: 10px auto;
    font-size: 1.2em;
}


.button {
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    background-color: #0274d6;
    padding: 10px 30px 10px 30px;
    margin-top: 80px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor:pointer;

}
.button-container{

    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: block;
    padding: 0;
    text-align: center;
    margin: 0 auto;
}
