*{
    font-family: 'Inter', sans-serif;
    margin: 0 1px;
    padding: 0;
}
.contents{
    min-width: 700px;
    margin: 0 20%;
}
.error{
    color:var(--red-color);
}
#bigLogo {
    font-size: 1em;
    background: linear-gradient(to right, #5ba955, #a8dc69);
    border-radius: 10px;
    color: var(--white-color);
    padding: 10px;
    margin: 20px auto;
    width: 130px;
    display: block;
    text-align: center;
    text-decoration: none;
}

:root{
    --white-color:#fff;
    --gray-color: #efeeec;
    --darkgray-color:#444040;
    --black-color:#111;
    --bleu-color:#2556d3;
    --green-color:#5aad5a;
    --red-color:red;
}
/*button*/
.btn,
a.btn,
button.btn {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    position: relative;
    display: inline-block;
    padding: 7px 25px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 0.4rem;
}
.btn--green{
    color: var(--white-color);
    background-color: var(--green-color);
    width:150px;
    border:none;

}
.btn--bleu{
    color: var(--white-color);
    background-color: var(--bleu-color);
    margin-top: 10px;
    border: none;
    width:200px;
}