body {
    margin: 0;
    text-align: center;
}

section {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.register input{
    height: 30px;
    margin-bottom: 30px;
}



form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

input {
    font-size: 1em;
    border: solid #b1b1b1;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.register > btn {
    margin-bottom: 10px;
}

.register a {
    text-decoration: var(--bleu-color);
}