<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link href="../static/css/paymybuddy.css" th:href="@{/css/paymybuddy.css}" rel="stylesheet"/>
    <link href="../static/css/contact.css" th:href="@{/css/contact.css}" rel="stylesheet"/>
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
</head>
<body>
<!--header-->
<div id="main_wrapper" th:with="page='Contact'">
    <header th:replace="~{header::header(${page})}"></header>
    <div th:replace="~{header::subheader(${page})}"></div>
</div>
<!--contents-->
<div class="contents">
    <section>
        <div class="addContact">
            <form th:method="post" th:action="@{/contact}">
                <label for="email">Please submit your friend's email to add
                <input type="text"  id="email" th:name="email" th:object="${email}" placeholder="your friend's email"></input>
                </label>
                <input type="submit" th:value="Submit">
            </form>
        </div>

    </section>
</div>

