<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</head>
<body>
<!--header-->
<div id="main_wrapper" th:with="page='Contact'">
    <header th:replace="~{header::header(${page})}"></header>
    <div th:replace="~{header::subheader(${page})}"></div>
</div>
<!--contents-->
    <section>
<div class="container text-center mt-3">
        <form th:method="post" th:action="@{/contact}">
            <!--exception handling-->
            <div class="row justify-content-center">
            <div class="col-6">
            <div th:if="${errorMsg}" th:class="${errorMsg}? 'alert alert-danger':''" role="alert">
                <p th:text="${errorMsg}"></p>
            </div>
            </div>
            </div>
            <div class="row">
                <label for="email">Please submit your friend's email to add</label>
            </div>
            <div class="row w-50 mt-3 mx-auto">
                <input type="text" id="email" th:name="email" th:object="${email}" placeholder="your friend's email">
            </div>
            <div class="row w-25 p-3 mx-auto">
                <button class="btn btn-success" type="submit" th:value="Submit">Add</button>
            </div>
        </form>
</div>
        <div class="container">
<div class="row">
    <h2>Contact list</h2>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${connections.isEmpty()}">
        <td>You have no contact yet</td>
    </tr>
    <tr th:each="connection:${connections}">
        <td th:text="*{connection.username}"></td>
    </tr>
    </tbody>
</table>
</div>
</div>
</section>
</div>

