<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
<header th:fragment="header(page)" class="py-4">
    <nav class="navbar">
        <div class="container ">
           <a th:href="@{/home}" href="/home" class="navbar-brand fw-bold bg-success bg-gradient p-1 rounded-3 text-light" >Pay My Buddy</a>
                <ul class="nav justify-content-end">
                    <li class="nav-item" >
                        <a class="nav-link text-muted" th:class="${#strings.equals(page, 'Home')}?'nav-link font-weight-bold text-primary':'nav-link text-muted'" href="/home" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" th:class="${#strings.equals(page, 'Transfer')}?'nav-link font-weight-bold text-primary':'nav-link text-muted'" href="/transfer" th:href="@{/transfer}">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" th:class="${#strings.equals(page, 'Profile')}?'nav-link font-weight-bold text-primary':'nav-link text-muted'" href="/profile" th:href="@{/profile}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" th:class="${#strings.equals(page, 'Contact')}?'nav-link font-weight-bold text-primary':'nav-link text-muted'" href="/contact" th:href="@{/contact}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="/logout" th:href="@{/logout}">Log off</a>
                    </li>
                </ul>
        </div>
    </nav>
</header>
<div class="container bg-light" th:fragment="subheader(page)">
    <a class="active" style="text-decoration: none" href="/home" th:href="@{/home}">Home  /  </a><span th:text="${page}"></span>
</div>
</body>
</html>
