<!DOCTYPE html>
<html xmlns="" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/css/paymybuddy.css" th:href="@{/css/paymybuddy.css}" rel="stylesheet"/>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<!--contents-->
<section>
<div id="main-container">
<div id="login-container">
<div id="bigLogo">Pay My Buddy</div>
<div th:if="${param.error}" class="alert alert-danger">
    Invalid username and password.
</div>
<form th:action="@{/login}" method="post">
    <div class="inputBox">
        <label for="email"><img src="../static/img/email.png" th:src="@{/img/email.png}"></label>
        <input type="text" id="email" placeholder="Email" name="email"/>
    </div>
    <div class="inputBox">
        <label for="password"><img src="../static/img/password.png" th:src="@{/img/password.png}"></label>
        <input type="password" id="password" placeholder="Password" name="password"/>
    </div>
    <div class="rememberMe">
        <label for="rememberMe"></label>
    <input type="checkbox" name="rememberMe" value="rememberMe"id="rememberMe"> Remember me
    </div>
    <div class="button-container">
        <input class="button" type="submit" value="login">
    </div>
</form>
    <a href="/register">You don't have an account? Sign in here !</a>
</div>
</div>
</section>
</body>
</html>
