<!DOCTYPE html>
<html lang="en"
      xmlns=""
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="../static/css/paymybuddy.css" th:href="@{/css/paymybuddy.css}" rel="stylesheet"/>
    <link href="../static/css/profile.css" th:href="@{/css/profile.css}" rel="stylesheet"/>
    <link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet"/>
    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
</head>
<body>
<!--header-->
<div id="main_wrapper" th:with="page='Profile'">
    <header th:replace="~{header::header(${page})}"></header>
    <div th:replace="~{header::subheader(${page})}"></div>
</div>
<!--contents-->
<section>
    <div class="signedIn">
        <div th:object="${userAccount}">
            <p>Your username is :<span th:text="*{username}"></span></p>
            <p>Your email is : <span th:text="*{email}"></span></p>
            <p>Your balance is : <span th:text="*{balance}"></span></p>
        </div>
    </div>
</section>
</body>
</html>