<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</head>
<body>
<!--header-->
<div id="main_wrapper" th:with="page='Transfer'">
    <header th:replace="~{header::header(${page})}"></header>
    <div th:replace="~{header::subheader(${page})}"></div>
    <!--contents-->
    <section>
        <div class="container mt-3">
            <div class="d-flex bd-highlight  justify-content-between ">
                <div class="p-2 bd-highlight">
                    <h2>Send Money</h2>
                </div>
                <div class="ml-auto p-2 bd-highlight">
                    <button type="button" class="btn btn-primary"><a  style="text-decoration: none"class="text-white " th:href="@{/contact}">Add Connection</a></button>
                </div>
            </div>
        </div>
        <form th:method="post" th:action="@{/transfer}" th:object="${transactionDto}">
            <div class="container bg-light px-4">
                <!--transactionDto needs creditor, amount and description-->
                <div class="alert alert-danger" role="alert" th:if="${errorMsg}" th:text="${errorMsg}"></div>
                <div class="row py-5 align-items-center justify-content-between">
                    <!--Select A connection -->
                    <div class="col-2 form-group  mt-4 align-self-center">
                        <label for="id">
                            <select th:field="*{creditorId}" required>
                                <option th:if="${connections.isEmpty}" value="">No connection added</option>
                                <option th:unless="${connections.isEmpty}" value="">Select A Connection</option>
                                <option th:each="connection : ${connections}" th:value="${connection.getId()}"
                                        th:text="${connection.getUsername()}" id="id"></option>
                            </select>
                        </label>
                    </div>
                    <!--description -->
                    <div class="col-2 form-group align-self-center">
                        <label for="description"></label>
                        <input th:unless="${connections.isEmpty}" type="text" th:field="*{description}"
                               id="description" placeholder="Description">
                    </div>
                    <!--amount -->
                    <div class="col-2">
                        <label for="amount"></label>
                        <input th:unless="${connections.isEmpty}" type="number" min="0.00" step="0.01"
                               th:field="*{amount}" id="amount" placeholder="0€ ">
                    </div>
                    <div class="col-2 mt-3">
                        <button type="submit" th:unless="${connections.isEmpty}" class="btn btn-success w-100"
                                th:value="Pay"> Pay
                        </button>
                    </div>
                </div>
                </div>
        </form>
    </section>
    <section>
        <div class="container">
        <div class=" mt-5">
            <h2>My Transactions</h2>
            <table class="table table-striped text-center">
                <thead class="bg-success text-white font-weight-normal">
                <tr>
                    <th scope="col">Connections</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${transactionPage.isEmpty()}">
                    <td colspan="3">No transaction</td>
                </tr>
                <tr th:each="transaction, iterstat : ${transactionPage.content}" th:class="${iterstat.odd}?'odd'">
                    <td th:text="${transaction.creditor.username}"></td>
                    <td th:text="${transaction.description}"></td>
                    <td th:text="${transaction.amount}"></td>
                </tr>
                </tbody>
            </table>
            <!--pagenation-->
            <div id="pagination">

                <nav aria-label="Page navigation example ">

                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:unless="${currentPage  == 1}">
                            <a class="page-link"
                               th:href="@{/transfer(page=${currentPage - 1})}">&laquo;</a>
                        </li>
                        <li class="page-item"
                            th:each="pageNumber : ${#numbers.sequence(1, transactionPage.totalPages)}"
                            th:classappend="${pageNumber} == ${#vars.currentPage} ? 'active' : '' "
                            th:if="${not #vars.transactionPage.isEmpty()}">
                            <a class="page-link" th:href="@{/transfer(page=${pageNumber})}" th:text="${pageNumber}"></a>
                        </li>
                        <li class="page-item"
                            th:unless="${transactionPage.isEmpty() or currentPage >= transactionPage.totalPages }">
                            <a class="page-link"
                               th:href="@{/transfer(page=${#vars.currentPage + 1})}">&raquo;</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        </div>
    </section>
</div>
</div>
</body>
</html>
